.beams {
  background-image: url('../img/beams/hero@75.jpg');
  background-size: 150rem;
}

:global(.dark) .beams {
  background-image: url('../img/beams/hero-dark@90.jpg');
  background-size: 86.125rem;
}

.tiny {
  background-image: url('../img/beams/5-dark@tinypng.png');
  background-size: 100% 100%;
}

.wireframes {
  background-image: url('../img/portfolio/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}